<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Receiver Sample App</title>
  <link rel="icon" type="image/png" href="{{ static('favicon.png') }}">
  <link rel="stylesheet" href="{{ static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('css/skeleton.css') }}">
</head>
<body>
  <div class="container">

  <h1>Receiver Sample App</h1>
  <h2>This is where things are posted to</h2>

  <h3>Start a new transform</h3>
  <form action="/v1/transform" method="post">
    <b>URL:</b>
    <input type="url" style="width:500px" name="url" placeholder="https://example.com/file.mp4">
    <br>
    <b>Number of shots to make:</b>
    <input type="number" style="width:50px" name="number" value="11">
    <br>
    <b>Callback URL:</b>
    <input type="url" style="width:500px" name="callback_url"
    value="{{ current_url }}">
    <br>
    <b>Post Files:</b>
    <input type="checkbox"  name="post_files"> (by multipart/form, if not the URLs to the images are sent)
    <br>
    <b>Post Files individually:</b>
    <input type="checkbox"  name="post_files_individually"> (one POST per file, only application if "Post Files" is on)
    <br>
    <b>Download file first:</b>
    <input type="checkbox"  name="download"> (if not, the URL will be hit repeatedly for every picture to take)
    <br>
    <button type="submit" class="button-primary">Go!</button>
    <button type="button" class="curl">Show <code>curl</code> command</button>
  </form>

  <div id="curl" style="display:none">
    <p>Paste this in on the command line</p>
    <pre></pre>
  </div>

  <hr>
  <h3>Previous Submissions</h3>
  {% for submission in submissions %}
  <p>
    <b>URL:</b> <code>{{ submission.url }}</code><br>
    <b>Submitted:</b> {{ submission.submitted }}<br>
    <b>Options:</b>
    <code>{{ submission.number }} pictures</code>
    {% if submission.download %}<code>download</code>
    {% else %}<code>not download</code>
    {% endif %}
    {% if submission.post_files %}<code>post_files</code>
    {% else %}<small>don't post files</small>
    {% endif %}
    {% if submission.post_files_individually %}<code>post_files_individually</code>
    {% else %}<small>don't post files individually</small>
    {% endif %}
    {% if submission.post_file_name %}
    name:<code>{{ submission.post_file_name }}</code>
    {% endif %}
    <pre>{{ pretty_print_json(submission.stats, sort_keys=True) }}</pre>
  </p>
  {% endfor %}


  <hr>
  <h3>Previous files uploaded</h3>
  {% for picture in pictures %}
  <p>
    <b>From:</b> <code>{{ picture.url }}</code><br>
    <b>Uploaded:</b> <i>{{ picture.uploaded }}</i><br>
    <a href="{{ picture.file.url }}"><img src="{{ picture.file.url }}" style="width:50%"></a>

  </p>
  {% endfor %}

  </div>
  <script src="{{ static('jquery-2.1.3.min.js') }}"></script>
  <script src="{{ static('receiver/home.js') }}"></script>
</body>
</html>
